body {
  font: 10px sans-serif;
  width: 640px;
  height: 888px;
  background: #313131; 
}

.arc path {
  stroke: #313131;
}

.mousedover {
	fill: red;
}

#wrapper {
	height: 80px;
	width: 640px;
	margin: 0 auto; 
	padding: 0px;
}

#header {
	margin: 0 auto; 
	height: 80px;
	width: 640px;
	font-family: "Trebuchet MS";
	color: white;
	border-bottom: dotted 1px;
	padding-bottom: 5px;
}

.headerDivs {
	display: inline;
	
}

#logo {
	font-size: 65px;
	float:left;
	padding-left: 15px;
}

#description {
	font-size: 30px;
	float:right;
	padding-right: 10px;
}

#vis {
	margin: 0 auto;
	width: 640px;
	padding: 0px;
}
